<!DOCTYPE html>
<html lang="ko">
<head>
    {% include 'include/head.html' %}
    <link type="text/css" rel="stylesheet" href="/static/css/mypage.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>마이페이지</title>
</head>
<body>
    <div id="wrap">
        {% include 'include/header.html' %}

        <div class="mypage">
            <!-- 마이페이지 로고 -->
            <div class="logo-mypage"> 마이페이지 </div>
            <div class ="align">
                <!-- 왼쪽 메뉴 -->
                <div class="myPageLeftMenu fL">
                    <div class="myPageSubMenu">
                        <div class="fav_add on">
                            관심 분야 등록
                        </div>
                        <div class="fav-patent">
                            찜한 특허
                        </div>
                        <div class="fav-office">
                            찜한 사무소
                        </div>
                        <div class="fav_news">
                            찜한 뉴스
                        </div>
                        <div class="fav_docu">
                            찜한 문서
                        </div>
                        <div class="fav_word">
                            찜한 단어
                        </div>
                        <div class="cal">
                            출원 일정 관리
                        </div>
                        <div class="user">
                            회원 정보 수정
                        </div>
                    </div>
                </div>
                <br>
                <div class="mobilemenu">
                    <div class="fav_add on">
                        관심 분야 등록
                    </div>
                    <div class="fav-patent">
                        찜한 특허
                    </div>
                    <div class="fav-office">
                        찜한 사무소
                    </div>
                    <div class="fav_news">
                        찜한 뉴스
                    </div>
                    <div class="fav_docu">
                        찜한 문서
                    </div>
                    <div class="fav_word">
                        찜한 단어
                    </div>
                    <div class="cal">
                        출원 일정 관리
                    </div>
                    <div class="user">
                        회원 정보 수정
                    </div>
                </div>
                <br>

                <!-- 오른 쪽 메뉴 -->
                <div class="mypage-content">
                    <div class="div-sub">
                        <div class="page-name">관심 분야 등록</div>
                        <div class="page-location"><img src="/static/images/home.png" class="mypage-home-image"/> <div class="info-text">메뉴  >  마이페이지  >  관심 분야 등록</div></div>
                        <div class="line"></div>
                    </div>

                    <div class="mypage-content-item">
                        <!-- 관심 분야 등록  -->
                        <div class="content fav-add-content visible">
                            <div class="infor-msg-area">
                                <div class="infor-msg">
                                    관심 분야를 등록하시면 관심 분야에 해당하는 <br> 세부적인특허 분석 내용을 홈 메뉴에서 보실 수 있습니다.
                                </div>
                            </div>

                            <select class='field'>
                                <option value='' selected>-- 선택 --</option>
                                <option value='생활(A)'>생활(A)</option>
                                <option value='운송(B)'>운송(B)</option>
                                <option value='화학(C)'>화학(C)</option>
                                <option value='섬유(D)'>섬유(D)</option>
                                <option value='구조(E)'>구조(E)</option>
                                <option value='기계(F)'>기계(F)</option>
                                <option value='물리(G)'>물리(G)</option>
                                <option value='전기(H)'>전기(H)</option>
                            </select>
                            <button class='field-reg-btn'>설정</button>
                            {% if f != None %}
                                <div class='field-setting-text'><span class="strong">{{f.field_name}}</span>로 관심분야가 설정되었습니다.</div>
                            {% else %}
                                <div class='field-setting-text'>관심분야가 설정되어있지 않습니다.</div>
                            {% endif %}
                        </div>

                        <div class="content fav-patent-content">

                        </div>
                        <!-- 찜한 사무소 -->
                        <div class="content fav-office-content">
                            <div id="table">
                                <div class="col">사무소</div>
                                <div class="col">출원수</div>
                                <div class="col">심판수</div>
                                <div class="col">평점</div>
                                {% for o in res_office %}
                                    <div class="text" style="grid-column: 1/2;">{{o.office_name}}</div>
                                    <div class="text" style="grid-column: 2/3;">{{o.office_apply}}</div>
                                    <div class="text" style="grid-column: 3/4;">{{o.office_referee}}</div>
                                    <div class="text" style="grid-column: 4/5;">{{o.office_score}}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- 찜한 뉴스 -->
                        <div class="content fav-news-content">
                            <div class="search-result-content">
                                {% for n in res_news %}
                                <div class="search-result-one">
                                    <img src="{{n.news_img_url}}" class="search-result-img" alt="기사타이틀이미지" onclick="moveUrl('{{n.news_url}}')">
                                    <div class="search-result-right-align">
                                        <div class="search-result-title">{{n.news_title}}</div>
                                        <div class="search-result-summary">{{n.news_content}}</div>
                                        <div class="search-result-etc1">
                                            <div class="search-result-reporter">{{n.news_reporter}}</div>
                                            <div class="search-result-date">{{n.news_date}}</div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="content fav-docu-content">

                        </div>

                        <div class="content fav-word-content">

                        </div>

                        <div class="content fav-cal-content">

                        </div>
                        <!-- 회원 정보 수정  -->
                        <div class="content user-content">
                            <div class="div-align">
                                <div class="user-update-text">ID</div><input type="text" class="inputValue" name="id" value="{{m.id}}" readonly/><br>
                                <div class="user-update-text">PASSWORD</div><input type="password" class="inputValue" name="pw" value="" placeholder="비밀번호"/> <br>
                                <div class="user-update-text">NAME</div><input type="text" class="inputValue" name="username" value="{{m.name}}"/> <br>
                                <div class="user-update-text">TEL</div><input type="tel" class="inputValue" name="tel" value="{{m.tel}}"/> <br>
                                <p id="p-warning">* 아이디는 수정할 수 없습니다.</p>
                                <button id="btn_update" type="button">정보 수정</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'include/footer.html' %}
    </div>
</body>
<script>
// 메뉴 선택
$('.myPageSubMenu div').click(function(){
    var menu = $(this).text()
    var num = $(this).index()
    $(this).parent().children('div').removeClass('on')
    $(this).addClass('on');
    $('.page-name').text(menu)
    $('.info-text').text('메뉴  >  마이페이지  >  ' + menu)
    $('.content').parent().children('.content').removeClass('visible')
    $('.content').eq(num).addClass('visible')
});

// 관심분야 등록
$('.field-reg-btn').click(function () {
    var selected = $(".field option:selected").val()
    if (selected == '--선택--') {
        alert('다시 선택해주세요')
    } else {
        // DB에 저장
        var data = { "data": selected }
        $.ajax({
            type: 'post',
            url: "{{url_for('member.user_fav_field')}}",
            datatype: 'text',
            contentType: "application/json",
            data: JSON.stringify(data), 
            success: function (data) {
                if (data.result == 1) {
                    $('.field-setting-text').text(selected + '로 관심분야가 설정되었습니다.')
                }
            }
        })
    }
}) 

//개인 정보 수정 
$('#btn_update').click(function () {
    var id = $('input[name=id]').val().trim();
    var pw = $('input[name=pw]').val().trim();
    var name = $('input[name=username]').val().trim();
    var tel = $('input[name=tel]').val().trim();

    if (id == "" || pw == "" || name == "" || tel == "") {
        $('#p-warning').text('입력칸을 모두 채워주세요.');
        $('#p-warning').css("display", "block");
    } else {
        // 한 번에 중복 클릭 방지
        $("#btn_update").attr("disabled", true);
        var data = { "id": id, "pw": pw, "name": name, "tel": tel };
        // 개인 정보 수정 데이터 전송
        $.ajax({
            type: 'post',
            url: "{{url_for('member.user_info_update')}}",
            datatype: 'text',
            contentType: "application/json",
            data: JSON.stringify(data), 
            success: function (data) {
                if (data.result == 1) {
                    alert('회원 정보가 수정되었습니다.');
                }
            }
        })
    }
});
</script>
</html>