body {
    background: #f8f9fb;
}

#wrap {
    width: 100%; 
    height: 100%; 
    position: relative; 
    display: flex; 
    flex-flow: column nowrap;
}

.contents-main {
    width: 100%;
    height: auto;
    position: relative;	
    padding: 50px 0 80px 0;
    display: block;
}

.contents-contrainer {
	width: 1100px;
	margin: 0 auto;
}

/* 상단 아이디, 날짜 */
.contents-header {
	width: 100%;
	height: 50px;
	position: relative;
	margin-bottom: 20px;
}

.contents-titles {
	display: flex;
    float: left
}

.contents-title {
	font-size: 25pt;
    font-weight: bolder;
    letter-spacing: 2px;
    margin: 10px;
}

.date {
    position: relative;
    top: 5px;
	font-size: 15pt;
    font-weight: bold;
	float: right;
}

/* 그래프 공통 */
.graph {
    width: 100%;
    background: #fff;
    padding: 20px 10px; 
    border-radius: 10px;
    border: 1px solid #ddd;
}

.graph-title {
    width: 100%;
    text-align: center;
    font-size: 15pt;
    font-weight: bolder;
    line-height: 35px;
    margin-bottom: 10px;
}

.graph-content {
    font-size: 14pt;
    line-height: 30px;
    margin-left: 10px;
}

.full {
    width: 100%;
}

.equal {
    margin-right: 30px;
}

.strong {
    font-weight: bolder;
    color: #de3e5d;
    margin: 0 15px;
}

/* 각각 */
.common-top {
    display: flex;
    margin-bottom: 30px;
}

.common-top-left {
    width: 220px;
    margin: 0 70px 0 0;
}

.common-search-ranking {
    margin: 0 0 30px 0;
}

.common-year-field {
    width: 800px;
}

.common-year-keyword {
    display: flex;
}

.year-ipc-graph {
    width: 100%;
    height: 500px;
}




