@charset "utf-8";

body {
    background: #f8f9fb;
}

#wrap {
    width: 100%; 
    height: 100%; 
    position: relative; 
    display: flex; 
    flex-flow: column nowrap;
}

.contents-main {
    width: 100%;
    height: auto;
    position: relative;	
    padding: 50px 0 80px 0;
    display: block;
}

.contents-contrainer {
	width: 1100px;
	margin: 0 auto;
}

/* 상단 아이디, 날짜 */
.contents-header {
	width: 100%;
	height: 50px;
	position: relative;
	margin-bottom: 20px;
}

.contents-titles {
	display: flex;
    float: left
}

.contents-title {
	font-size: 25pt;
    font-weight: bolder;
    letter-spacing: 2px;
    margin: 10px;
}

.date {
    position: relative;
    top: 5px;
	font-size: 15pt;
    font-weight: bold;
	float: right;
}

/* 그래프 공통 */
.graph {
    width: 100%;
    background: #fff;
    padding: 20px 10px; 
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 3px 3px #eee;
}

.graph-title {
    width: 100%;
    text-align: center;
    font-size: 15pt;
    font-weight: bolder;
    line-height: 35px;
    margin-bottom: 10px;
}

.graph-content {
    font-size: 14pt;
    line-height: 30px;
    margin-left: 10px;
}

.full {
    width: 100%;
}

.equal {
    margin-right: 30px;
}

.strong {
    font-weight: bolder;
    color: #de3e5d;
    margin: 0 15px;
}


/* 각각 */
.common-top {
    display: flex;
    margin-bottom: 30px;
}

.common-top-left {
    width: 220px;
    margin: 0 50px 0 0;
}

.common-search-ranking {
    margin: 0 0 30px 0;
}

.common-year-field {
    width: 800px;
}

.common-year-keyword {
    display: flex;
}

.year-ipc-graph {
    width: 100%;
    height: 500px;
}

/* -- 관심분야 -- */
/* 관심분야 최근 특허 */
hr {
    margin-top: 30px;  
}

.fav-top {
    margin-top: 30px;
}

.contents-subtitle {
    font-size: 18pt;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 20px 12px;
}

.strong {
    font-weight: bolder;
    color: #de3e5d;
    margin: 0 15px;
}

.bold {
	font-weight: bolder;
}

.search-result-content {
    margin: 10px;
    /* padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px; */
}

.search-result-one {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 3px 3px #eee;
    padding: 10px 20px 10px 20px;
    margin-bottom: 15px;
    background: #fff;
}

.search-result-img {
    width: 180px;
    height: 150px;
    margin: 0 30px 0 0;
}

.search-result-right-align {
    width: 100%;
    position: relative;
}

.applicationNumber {
	font-size: 10pt;
	border: 1px solid #bbb;
	border-radius: 5px;
	padding: 5px;
	color: #de3e5d;
	margin-right: 10px;
	position: relative;
	top: -3px;
}

.search-result-title {
    font-weight: bolder;
    font-size: 16pt;
    margin: 10px 10px 10px 0;
    line-height: 30px;
}

.search-result-summary {
    color: grey;
    font-size: 12pt;
    word-break: break-all;
    margin-bottom: 20px;
}

.search-result-etc-align {
    display: flex;
    position: relative;
    height: 100%;
}

.search-result-etc1 {
    display: flex;
	margin-top: 10px;
}

.search-result-applicantName, .search-result-date {
    font-size: 15px;
    color: grey;
}

.search-result-applicantName {
    margin-right: 20px;
}