<!DOCTYPE html>
<html lang="ko">
<head>
    {% include 'include/head.html' %}
    <link type="text/css" rel="stylesheet" href="/static/css/document.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>출원서&명세서</title>
</head>
<body>
    <div id="wrap">
        {% include 'include/header.html' %}

        <div class="contents-main">
        	<div class="contents-contrainer">

        		<div class="contents-header">
		            <div class="contents-titles">
                        <div class="contents-title">출원서&명세서 양식 다운로드</div> 
					</div>
				</div>
                
                <div class="search-result">
                    <div id="table">
                        <div class="col">파일명</div>
                        <div class="col">미리보기</div>
                        <div class="col">다운받기</div>

                        <div class="text" style="grid-column: 1/2;">출원서_양식.pdf</div>
                        <div style="grid-column: 2/3;"><a class="docu-btn" href="/static/document/출원서_양식.pdf#page=1" target="_blank">미리보기</a></div>
                        <div style="grid-column: 3/4;"><a class="docu-btn" href="/static/document/출원서_양식.pdf" download>다운로드</a></div>
                       
                        <div class="text" style="grid-column: 1/2;">명세서_양식.pdf</div>
                        <div style="grid-column: 2/3;"><a class="docu-btn" href="/static/document/명세서_양식.pdf#page=1" target="_blank">미리보기</a></div>
                        <div style="grid-column: 3/4;"><a class="docu-btn" href="/static/document/명세서_양식.pdf" download>다운로드</a></div>
                    </div>
                </div> 

                <div class="contents-header">
		            <div class="contents-titles">
                        <div class="contents-title">출원서&명세서 예시 다운로드</div> 
					</div>
				</div>
                
                <div class="search-result">
                    <div class="sub-title">출원서 예시 다운로드</div> 
                    <div id="table">
                        <div class="col">파일명</div>
                        <div class="col">미리보기</div>
                        <div class="col">다운받기</div>

                        <div class="text" style="grid-column: 1/2;">출원서_예시_1.pdf</div>
                        <div style="grid-column: 2/3;"><a class="docu-btn" href="/static/document/출원서_예시.pdf#page=1" target="_blank">미리보기</a></div>
                        <div style="grid-column: 3/4;"><a class="docu-btn" href="/static/document/출원서_예시.pdf" download>다운로드</a></div>
                       
                        <div class="text" style="grid-column: 1/2;">출원서_예시_2.pdf</div>
                        <div style="grid-column: 2/3;"><a class="docu-btn" href="/static/document/출원서_예시.pdf#page=1" target="_blank">미리보기</a></div>
                        <div style="grid-column: 3/4;"><a class="docu-btn" href="/static/document/출원서_예시.pdf" download>다운로드</a></div>
                       
                        <div class="text" style="grid-column: 1/2;">출원서_예시_3.pdf</div>
                        <div style="grid-column: 2/3;"><a class="docu-btn" href="/static/document/출원서_예시.pdf#page=1" target="_blank">미리보기</a></div>
                        <div style="grid-column: 3/4;"><a class="docu-btn" href="/static/document/출원서_예시.pdf" download>다운로드</a></div>
                       
                        <div class="text" style="grid-column: 1/2;">출원서_예시_4.pdf</div>
                        <div style="grid-column: 2/3;"><a class="docu-btn" href="/static/document/출원서_예시.pdf#page=1" target="_blank">미리보기</a></div>
                        <div style="grid-column: 3/4;"><a class="docu-btn" href="/static/document/출원서_예시.pdf" download>다운로드</a></div>
                    </div>

                    <div class="sub-title">명세서 예시 다운로드</div> 
                    <div id="table">
                        <div class="col">파일명</div>
                        <div class="col">미리보기</div>
                        <div class="col">다운받기</div>

                        <div class="text" style="grid-column: 1/2;">명세서_예시_1.pdf</div>
                        <div style="grid-column: 2/3;"><a class="docu-btn" href="/static/document/명세서_예시.pdf#page=1" target="_blank">미리보기</a></div>
                        <div style="grid-column: 3/4;"><a class="docu-btn" href="/static/document/명세서_예시.pdf" download>다운로드</a></div>
                       
                        <div class="text" style="grid-column: 1/2;">명세서_예시_2.pdf</div>
                        <div style="grid-column: 2/3;"><a class="docu-btn" href="/static/document/명세서_예시.pdf#page=1" target="_blank">미리보기</a></div>
                        <div style="grid-column: 3/4;"><a class="docu-btn" href="/static/document/명세서_예시.pdf" download>다운로드</a></div>
                       
                        <div class="text" style="grid-column: 1/2;">명세서_예시_3.pdf</div>
                        <div style="grid-column: 2/3;"><a class="docu-btn" href="/static/document/명세서_예시.pdf#page=1" target="_blank">미리보기</a></div>
                        <div style="grid-column: 3/4;"><a class="docu-btn" href="/static/document/명세서_예시.pdf" download>다운로드</a></div>
                       
                        <div class="text" style="grid-column: 1/2;">명세서_예시_4.pdf</div>
                        <div style="grid-column: 2/3;"><a class="docu-btn" href="/static/document/명세서_예시.pdf#page=1" target="_blank">미리보기</a></div>
                        <div style="grid-column: 3/4;"><a class="docu-btn" href="/static/document/명세서_예시.pdf" download>다운로드</a></div>
                    </div>
                </div> 

            </div>
        </div>
        {% include 'include/footer.html' %} 
    </div>
</body>
<script>

</script>
</html>