<!DOCTYPE html>
<html lang="ko">
<head>
    {% include 'include/head.html' %}
    <link type="text/css" rel="stylesheet" href="/static/css/index.css"> 
    <title>Everything - 특허에 관한 모든 것</title>
</head>
<body>
    <div id="wrap">
        {% include 'include/header.html' %}
        
        <div class="contents-main">
        	<div class="contents-contrainer">

        		<div class="contents-header">
		            <div class="contents-titles">
                        {% if not session.flag %}
                            <div class="contents-title">로그인을 해주세요</div>
                        {%  else %}
                            {% if fav_field != None %}
		                        <div class="contents-title">{{session.login_id}}</div> 
                            {% else %}
                                <div class="contents-title">마이페이지에서 관심분야를 등록해보세요</div> 
                            {% endif %}
                        {% endif %}
					</div>
                    <div class="date">{{date}}</div>
				</div>

                <div class="analysis">
                    <div class="common-top full">
                        <div class="common-top-left">
                            <!-- Everything 검색어 순위 -->
                            <div class="common-search-ranking graph">
                                <div class="graph-title">검색어 순위</div>
                                <div class="graph-content"><span class="strong">1</span> 검색</div>
                                <div class="graph-content"><span class="strong">2</span> 검색</div>
                                <div class="graph-content"><span class="strong">3</span> 검색</div>
                                <div class="graph-content"><span class="strong">4</span> 검색</div>
                                <div class="graph-content"><span class="strong">5</span> 검색</div>
                            </div>
                            <!-- 분야별 특허 출원 순위 -->
                            <div class="common-field-ranking graph">
                                <div class="graph-title">분야별 특허 출원 순위</div>
                                {% for i, (key, value) in year_ipc_ranking_data %}
                                    <div class="graph-content"><span class="strong">{{i+1}}</span> {{key}}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- 년도별 분야별 특허 출원수 -->
                        <div class="common-year-field graph">
                            <div class="graph-title">년도별 분야별 특허 출원수</div>
                            <img class="year-ipc-graph" src="{{img_path}}">
                        </div>
                    </div>

                    <div class="common-middle full">
                        <!-- 년도별 빈도수 높은 키워드 -->
                        <div class="common-year-keyword">
                            <div class="common-year-2017 graph equal">
                                <div class="graph-title">2017 키워드</div>
                                {% for i, r in res_2017 %}
                                    <div class="graph-content"><span class="strong">{{i+1}}</span> {{r[1]}}</div>
                                {% endfor %}
                            </div>
                            <div class="common-year-2018 graph equal">
                                <div class="graph-title">2018 키워드</div>
                                {% for i, r in res_2018 %}
                                    <div class="graph-content"><span class="strong">{{i+1}}</span> {{r[1]}}</div>
                                {% endfor %}
                            </div>
                            <div class="common-year-2019 graph equal">
                                <div class="graph-title">2019 키워드</div>
                                {% for i, r in res_2019 %}
                                    <div class="graph-content"><span class="strong">{{i+1}}</span> {{r[1]}}</div>
                                {% endfor %}
                            </div>
                            <div class="common-year-2020 graph equal">
                                <div class="graph-title">2020 키워드</div>
                                {% for i, r in res_2020 %}
                                    <div class="graph-content"><span class="strong">{{i+1}}</span> {{r[1]}}</div>
                                {% endfor %}
                            </div>
                            <div class="common-year-2021 graph">
                                <div class="graph-title">2021 키워드</div>
                                {% for i, r in res_2021 %}
                                    <div class="graph-content"><span class="strong">{{i+1}}</span> {{r[1]}}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fav-top full">
                    <div></div>
                </div>

            </div>
        </div>
        
        {% include 'include/footer.html' %}
    </div>
</body>
</html>